<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
    {% if page.language == "english" %}
        {% if page.categories == "en/blog" %}
            <a id="forkme_banner" href="/">Japanese</a>
        {% else %}
            <a id="forkme_banner" href="/{{ page.categories }}/">Japanese</a>
        {% endif %}
    {% else %}
        {% if page.categories == "blog" %}
            <a id="forkme_banner" href="/en/">English</a>
        {% else %}
            <a id="forkme_banner" href="/en/{{ page.categories }}/">English</a>
        {% endif %}
    {% endif %}
    <a href = "{% if page.language == "english" %}/en{% endif %}/"><h1 id="project_title">Red Magic Manuscripts</h1></a>
    <!--    <h2 id="project_tagline"></h2> -->
    </header>
</div>
