<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="inner">
            <ul class="nav">
                <li {% if page.categories == "blog" %} class="active"{% endif %}><a href="/blog/">Blog</a></li>
                <li {% if page.categories == "applications" %} class="active" {% endif %}><a href="/applications/">Applications</a></li>
                <li {% if page.categories == "publications" %} class="active" {% endif %}><a href="/publications/">Publications</a></li>
                <li {% if page.categories == "aboutme" %} class="active" {% endif %}><a href="/aboutme/">About me</a></li>
            </ul>
        </div>
    </div>
</div>
